<% if pass.configuration_type == "razorpay" %>
  <div id="3rdpartyapikey"  data-api="<%=ENV['RAZORPAY_SECRET'] ? true : false%>" class= "<%='pass' if (ENV['RAZORPAY_SECRET'].present? || pass.updated_at != pass.created_at)%>">
    <span id="3rdpartyapikey11"> <%= ENV['RAZORPAY_SECRET'] || pass.api_secret_key %></span>
    <%if !ENV['RAZORPAY_SECRET'].present?%>
      &nbsp;&nbsp;<span onclick="window.open('https://intercom.help/engineerai/en/articles/6258382-razorpay-help-guide','_blank')" style="cursor:pointer;color:#4bacfe;font-size:14px;font-style:italic">(info)</span>
    <%end%>
  </div>
  <i onclick="copyText()" title="click to copy" class="fa fa-copy"></i>
  <span id="custom-tooltip">copied!</sapn>
<% else %>
  <div id="shiprocketapikey" class= "<%='pass' if (pass.ship_rocket_user_password.present?|| pass.updated_at != pass.created_at)%>">
    <%=pass.ship_rocket_user_password%>
    <div>
  <%# <i onclick="copyText()" class="fa fa-copy"></i> %>
<% end %>

